	<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Instant Ticket Booking</a></h2>
				<div class="entry">	
					<div class="ibsdrop" style="display: block;">
						<div class="fleft">
						<%= radio_button_tag 'bookingtype', 'Movie', true%>
						<%= label_tag 'Movies' %>
						<%= radio_button_tag 'bookingtype', 'Cinema'%>
						<%= label_tag 'Cinemas' %>
						</div>
						<div class="fleft" style="padding-top:20px">							
							<div id="cmbMovie" class="cmbBox" style="width:278px;">
								<%= select_tag "movies", options_from_collection_for_select(@movies, "id", "name"), :style=>"width:278px" %>								
							</div>			
							<div id="cmbMovie" class="cmbBox" style="width:278px;">
								<%= text_field_tag 'datepicker',  nil, :placeholder => 'Select show date...', :style => "width:278px"%>								
								
								</div>
							</div>				
						</div>
					</div>

				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->			
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<div id="three-column" class="container">
		<% index=1 %> 
		<% @movies.each do |movie| %>
			<div id="<%= "tbox#{index}"%>">
				<div class="box-style">
					<div class="content">
						<div class="image"><img src=<%= movie.small_image_url%> width="130" height="200" alt=""  style="text-align: center" /></div>
						<h2><%= movie.name %></h2>
						<p><%= movie.lead_cast %></p>
					</div>
				</div>
			</div>
			<% index = index+1 %>
		<% end %>
	</div>