<h1> Add  Showtimes </h1>

<div class="details">
<%= form_tag :controller => 'showtime', :action => 'create' do %>
<table>
	<tr>
		<td>
			<%= label_tag 'ShowTime' %>
		</td>
		<td class="datafield">
			<%= text_field_tag 'time' ,nil,:class=>"datavalue"%><br>
		</td>
	</tr>
	<tr>
		<td>
			<%= label_tag 'Description' %>
		</td>
		<td class="datafield">
			<%= text_area_tag 'Description' %>
		</td>
	</tr>
</table>
<%= button_tag "Save", :disable_with => "Please wait..." %>
 <% end %>
</div>