<h1>New Theatre</h1>

<%= form_tag :controller => 'theatre', :action => 'create' do %>
<%= label_tag 'Theatre name' %>
<%= text_field_tag 'theatre_name' %><br>
<%= label_tag 'Image Url' %>
<%= text_field_tag 'image_url' %><br>
<%= label_tag 'Address' %>
<%= text_area_tag 'address' %><br>
<%= button_tag "Next", :disable_with => "Please wait..." %>
 <% end %>
