<h1><%= @movie.name %> </h1>

<div class="moviewpreview">
	<% if @movie.small_image_url && @movie.small_image_url != "" %>
		<%= image_tag(@movie.small_image_url) %>
	<% end %>

	<table class="moviewpreview">
		<tr>
			<td> Cast: </td>
			<td class="datafield"> <%= @movie.lead_cast %></td>			
		</tr>
		<tr>
			<td> Director: </td>
			<td class="datafield"> <%= @movie.director %></td>			
		</tr>
		<tr>
			<td> Producer: </td>
			<td class="datafield"> <%= @movie.producer %></td>			
		</tr>
		<tr>
			<td> Duration: </td>
			<td class="datafield"> <%= @movie.duration %></td>			
		</tr>
		<tr>
			<td> Certificate: </td>
			<td class="datafield"> <%= @certificate.name %></td>
		</tr>		
	</table>
	<p><%= @movie.description %></p>
</div>